---
layout: default
---

<div class="home-header">
  <h1>{{ site.title }}</h1>
  <p class="tagline">{{ site.description }}</p>
</div>

<ul class="post-list">
  {% for post in site.posts %}
  <li class="post-item">
    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
    <div class="post-meta">
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      {% if post.categories %} · {{ post.categories | join: " / " }}{% endif %}
    </div>
    {% if post.description %}
    <p class="post-excerpt">{{ post.description }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
